@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
/* Global */
body{
    background: #FAF8F9;

}
a{
    font-size: 18px;
    font-weight: 500;
    list-style: none;
    color: #121212;
    text-decoration: none;
}
a, h1, h2, h3, h4, h6{
    font-family: 'Poppins', sans-serif;
}
p{
    font-family: 'Noto Sans', sans-serif;
}

.p-50{
    padding: 50px;
}
.p-90{
    padding: 90px;
}
.p-120{
    padding: 120px;
}
.pb-120{
    padding-bottom: 120px;
}
.pt-120{
    padding-top: 120px;
}

/* Navbar */
.btn-navbar{
    font-size: 18px;
    font-weight: 600;
    padding: 7px 15px;
}
.sign-up{
    background-color: #121212;
    color: white;
    border-radius: 16px;
    outline: 2px solid #121212;
}
.sign-up:hover{
    background-color: #fff;
    outline: 2px solid #121212;
}
.dropdown-toggle::after{
    content: none;
}

/* Header */
.smirnov-school,
.smirnov-school-2{
    position: absolute;
}
.smirnov-school{
    width: 6%;
    left: -5px;
    padding: 0;
}
.smirnov-school-2{
    width: 4%;
    left: 550px;
    bottom: 50px;
}

.content-header{
    padding-top: 80px;
}
.title-header{
    font-weight: 700;
    font-size: 72px;
    line-height: 120%;
    color: #121212;
}
@media (max-width: 767.98px) { 
    header{
        padding-bottom: 150px;
    }
    .smirnov-school,
    .smirnov-school-2{
    display: none;
    }
    .header-jacol{
        flex-direction: column-reverse;
    }
    .banner-header{
        width: 100%;
    }
    .content-header{
        padding-top: 0;
    }
    .title-header{
        font-size: 50px;
    }
    .title-header::after{
        width: 94% !important;
        bottom: 29px !important;
    }
}

.title-header::after{
    content: "";
    display: block;
    z-index: -1;
    border: 8px solid #FFB93C;
    width: 83%;
    position: relative;
    bottom: 37px;
}
.text-header{
    width: 429px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: rgba(18, 18, 18, 0.75);
}

@media (max-width: 767.98px) { 
    .text-header{
        width: 100%;
    }
}
.btn-header{
    padding: 10px 35px;
    background-color: #121212;
    color: #fff;
    border-radius: 15px;
    outline: 1px solid #121212;
    margin-top: 2rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.btn-header:hover{
    background-color: #fff;
    outline: 1px solid #121212;
}

/* Section Mapel */
section#mapel {
    position: relative;
    bottom: 6rem;
}
#mapel .container{
    background:url(../images/mapels/bg-mapels.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 40px;
    padding: 100px;
}
.sub-title{
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.22em;
}
.title-mapel{
    width: 359px;
    font-weight: 600;
    font-size: 40px;
    line-height: 55px;
    padding-top: 1.5rem;
}
.text-mapel{
    width: 370px;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
}
.btn-mapel{
    background: #FFB93C;
    padding: 10px 30px;
    border-radius: 15px;
    margin-top: 3.5rem;
}
.card-mapel{
    width: 125px;
    height: 155px;
    background: #1B1A1A;
    border-radius: 10px;
    transition: transform .2s;
}
.card-mapel:hover{
    transform: scale(1.25);
}
.card-mapel a p{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-top: auto;
}
.list-mapel{
    align-items: center;
    justify-content: center;
    margin-left: 3rem;
}
@media (max-width: 767.98px) { 
    #mapel .container{
        padding: 65px;
        background: url(../images/ranting_2.png) 100% 100% no-repeat;
        background-position: top right;
    }
    .title-mapel{
        width: 100%;
        padding-top: 0;
        font-size: 30px;
        line-height: 45px;
    }
    .text-mapel{
        width: 100%;
        font-weight: 300;
        font-size: 16px;
        line-height: 25px;
    }
    .list-mapel{
        margin-top: 2rem;
        margin-left: 0;
    }
}

/* Section Peran */
.title-role{
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
}
#heroes a img{
    width: 26%;
    position: relative;
}
.hero-1{
    bottom: 1.65em;
    left: 3.2em;
}
.hero-2{
    width: 23% !important;
    bottom: 1.1em;
    left: 1.5em;
}
.hero-3{
    bottom: 1.4em;
    left: 1.5em;
}
#heroes .active span{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: white;
    line-height: 36px;
    padding: 17px 40px;
    border-radius: 0px 10px 10px 0px;
    background: #121212;
    float: right;
    margin-right: 4em;
}

.section-role .accordion{
    width: 300px;
}
.section-role .accordion-item {
    border: none;
    background: transparent !important;
}

.section-role .accordion-button {
    color: #121212;
    background-color: transparent;
    border: none !important;
    font-size: 18px;
    font-weight: 600;
    box-shadow: none;
}

.section-role .accordion-body {
    color: #121212;
    background-color: transparent;
    border: none !important;
    font-size: 16px;
    opacity: 0.75;
}

.section-role .accordion-button:focus {
    z-index: 3;
    border-color: transparent;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.section-role .accordion-button.collapsed::after {
    background-image: url("../images/heroes/plus.svg");
}

.section-role .accordion-button:not(.collapsed)::after {
    background-image: url("../images/heroes/minus.svg");
    width: 15px;
    background-position: center;
}

.name-hero{
    padding: 50px 0;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 87px;
}
.name-hero::before{
    content: "KESATRIA";
    font-weight: 700;
    font-size: 96px;

    position: absolute;
    left: 50%;
    right: 50%;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    z-index: -1;
    text-shadow: 0.6px 0.6px 0 #6491EE, 0.6px -0.6px 0 #6491EE, -0.6px 0.6px 0 #6491EE, -0.6px -0.6px 0 #6491EE, 0.6px 0px 0 #6491EE, 0px 0.6px 0 #6491EE, -0.6px 0px 0 #6491EE, 0px -0.6px 0 #6491EE;
    color: #FAF8F9;
}


/* Section About Pengetahuan */
.svg-butterfly,
.svg-ranting{
    position: absolute;
}
.svg-ranting{
    left: -10px;
    top: 2026.87px;
}
.svg-butterfly{
    right: 50px;
    top: 2215.87px;
}
.about-pengetahuan{
    content: "";
    background: #29292B;
    border-radius: 0px 25px 25px 0px;
    height: 393px;
}
.img-about-pengetahuan{
    position: absolute;
    width: 533px;
    height: auto;
    top: 2045px;
    left: 80px;
 }
 .content-about-pengetahuan{
    padding-left: 150px;
 }
 .title-about-pengetahuan{
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    width: 397px;
 }
.text-about-pengetahuan{
    width: 370px;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
}
.btn-about-pengetahuan{
    background: #FFB93C;
    padding: 10px 30px;
    border-radius: 15px;
    margin-top: 3.5rem;
}

/* Section Benefits */
#benefits{
    background: url(../images/benefits/bg-benefit.png) no-repeat;
    background-size: 100%;
    background-position: 100% bottom;
    padding-top: 150px;
}
.title-benefit{
    font-weight: 700;
    font-size: 32px;
    line-height: 48px; 
}

/* CARD BENEFIT */
.item-benefit-1{
    width: auto;
    height: 194px;
    border: none;
    border-radius: 5px;
    background: #FAF8F9;
    box-shadow: 1px 6px 30px 1px rgba(0, 0, 0, 0.1);
}
.card-title-benefit{
    padding-bottom: 0 !important;
}
.card-text-benefit{
    font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 19px;
}

.img-benefit{
    float: right;
}